body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    max-width: 80%;
}

a {
    text-decoration: none;
}

/* header styles */

header {
    display: flex;
    gap: 30px;
    height: 200px;

}

header .left-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

header .name {
    font-size: 3rem;
    font-weight: normal;
    margin: 0;
}

header .name .alt {
    font-weight: bold;
    text-transform: uppercase;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    vertical-align: bottom;
    font-size: .666rem;
}

header .right-column {
    flex: 2;
    line-height: 200%;
    align-self: flex-end;

}

/* category buttons */
.category-layout {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.category-layout ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.category {
    justify-self: stretch;
    border: 1px solid black;
    height: 50px;
}

.category a {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    letter-spacing: .5rem;
}

.category a:hover {
    transition: all .5s ease-out;
    color: white;
    background-color: black;
}

.category.selected a {
    text-decoration: underline;
}

/*portfolio*/
#portfolio {
    margin: 0 auto;
}

/* featured style */
.featured {
    justify-self: stretch;
    border: 1px solid black;
    height: 300px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}

.featured .overlay {
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    letter-spacing: .5rem;
    transform: translateX(-100%);
    transition: transform .75s ease-in-out;
    display: flex;
    overflow: hidden;
}

.featured .overlay .name {
    flex-grow: 2;
}

.featured .overlay .arrow {
    flex-grow: 1;
}

.featured:hover .overlay {
    transform: translateX(0);
}


/* post style */
.post {
    width: 30%;
    margin-bottom: 30px;
    display: block;
}

.post .overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.post .overlay * {
    flex: 1;
}

.post .overlay:hover {
    transition: opacity .5s ease-out;
    opacity: 1;
    border: 1px solid black;
    background-color: #e4e4e4d5;
}

.post .overlay .name,
.post .overlay .description {
    margin: 0 20px;
    width: auto;
}

.post .overlay .name {
    font-size: 1rem;
    text-transform: lowercase;
}

.post .overlay .description {
    font-size: .75rem;
    font-style: italic;
    line-height: 200%;
}

.post img {
    z-index: 10;
    display: block;
    height: auto;
    width: auto;
    max-width: 100%;
}

/* projects */

.project {
    display: flex;
    margin-top: 100px;
    gap: 30px;
}

.project main h4 {
    justify-self: stretch;
    border: 1px solid black;
    height: 50px;
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    letter-spacing: .5rem;
    margin-top: 30px;
    margin-bottom: 30px;

}

.project main {
    flex: 2;
    line-height: 200%;
}

.project main h2 {
    font-size: 2rem;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: .5rem;
    text-align: center;
}

.project .subtitle {
    font-style: italic;
    line-height: 300%;
    margin: 50px
}

.project main h3 {
    font-style: italic;
    font-size: .8rem;
    font-weight: normal;
    text-align: center;
    line-height: normal;
    margin: 0;
}

/* sidebar */

.project .sidebar {
    flex: 1;
    min-width: 0;
}

.project .sidebar img {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
    margin: 0;
}

.project .sidebar h4 {
    justify-self: stretch;
    border: 1px solid black;
    height: 50px;
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    letter-spacing: .5rem;
}

.project .sidebar div p,
dt {
    flex: 1;
    font-weight: bold;
    float: left;
    width: 100px;
    text-align: left;
    margin-left: 10px;

}

.project .sidebar div p,
dt:after {
    content: "";
}

.project .sidebar div p,
dd {
    margin: 0 0 0 33%;
    margin-bottom: 20px;
}