<header>
    <div class="left-column">
        <h1 class="name">
            Julia <span class="alt">Torokhova</span>
        </h1>
        <nav>
            <ul>
                <li><a href="/portfolio">portfolio</a></li>
                <li><a href="/portfolio/about">about</a></li>
                <li><a href="https://www.instagram.com/uyu.lya/">instagram</a></li>
                <li><a href="">contact</a></li>
            </ul>
        </nav>
    </div>
    <p class="right-column">

        Hi! This website is under construction right now. Thank you for visiting!

    </p>
</header>