<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Portfolio | Julia Torokhova</title>

    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    {% include header.html %}
    <main>
        {% include buttons.html category=page.category %}

        <div id="featured">
            {% for post in site.tags["featured"]%}
            {% include featured.html post=post %}
            {% endfor %}
        </div>
    </main>
</body>

</html>