<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Portfolio | Julia Torokhova</title>

    <link rel="stylesheet" href="/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/macy@2"></script>
    <script src="/portfolio.js" defer></script>
</head>

<body>
    {% include header.html %}
    <main>
        <nav class="category-layout">
            <ul>
                {% for category in site.categories %}
                {% capture category_name %}{{category | first}}{% endcapture %}
                <li class="category"><a href="/portfolio/{{ category_name | slugify }}">{{category_name}}</a></li>
                {% endfor %}
            </ul>
        </nav>

        <div id="portfolio">
            {% if page.category %}
            {% for post in site.categories[page.category] %}
            {% include post.html post=post %}
            {% endfor %}
            {% else %}
            {% for post in site.posts %}
            {% include post.html post=post %}
            {% endfor %}
            {% endif %}
        </div>
    </main>
</body>

</html>